@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.main_content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}

.image-section img{
    width: 100%;
    height: auto;
}

.main_content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.main_content-section .main_content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 20px;
}

.main_content-section .main_content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.main_content-section .main_content .button{
    margin-top: 30px;
}

.main_content-section .main_content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.main_content-section .main_content .button a:hover{
    background-color: #a52a2a;
    color: #fff;
}

.main_content-section .social{
    margin:40px 40px;
}

.main_content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.main_content-section .social i:hover{
    color: #3d3d3d;
}